@{
    ViewData["Title"] = "Home Page";
}

@section Scripts {
    <script type="text/javascript" src="~/js/dist/example.bundle.js" asp-append-version="true"></script>
}

<h1>Webpack HMR Issue</h1>

<p class="lead">
    Try editing <code>~/ClientApp/example/components/Example.tsx</code> and it should update below.
</p>

<div id="example-mount-point">Loading React...</div>